# 虚拟环境
venv/
.env
*.pyc
__pycache__/

# IDE
.idea/
.vscode/
*.swp

# docker
*.log

# 前端依赖包
mobile_app/node_modules/
mobile_app/dist/
mobile_h5/node_modules/
mobile_h5/dist/
admin_web/node_modules/
admin_web/dist/


# 安卓构建产物
mobile_app/android/build/
mobile_app/android/.gradle/
mobile_app/android/app/build/

# 旧 backend 残留（重命名为 api 后）
backend/